* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}

p {
  margin-left: 40px;
  font-family: monospace;
  font-weight: bold;
  font-size: 20px;
}

#imgf img {
  display: inline-flex;
  align-items: center;
  margin-right: 80px;
  width: 35px;
  margin-top: -15px;
}

.game-board {
  width: 100%;
  height: 500px;
  border-bottom: 15px solid green;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background: linear-gradient(#87ceeb, #e0f6ff);
}

.pipe {
  position: absolute;
  bottom: 0;
  width: 80px;
  animation: pipe-animation 2s infinite linear;
}

.playagain {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.playagain img {
  position: absolute;
  margin-top: 35px;
  margin-left: -275px;
  width: 80px;
  cursor: pointer;
  grid-column: 1;
}

a.pmario {
  font-size: 15px;
  margin-left: 10px;
  cursor: pointer;
  color: #000;
  font-weight: bold;
}

#btn1 {
  background-color: #999;
  width: 200px;
  border-radius: 4px;
  margin-left: 5px;
  grid-column: 1;
  padding: 4px;
  padding-right: 12px;
}

#btn1:hover {
  background-color: #000;
}

.mario {
  width: 150px;
  position: absolute;
  bottom: 0;
}
.pmario:hover {
  color: red;
}

.jump {
  animation: jump 500ms;
}

.clouds {
  width: 550px;
  position: absolute;
  animation: clouds-animation 15s infinite linear;
}

@keyframes pipe-animation {
  from {
    right: -80px;
  }
  to {
    right: 100%;
  }
}

@keyframes jump {
  0% {
    bottom: 0;
  }

  40% {
    bottom: 180px;
  }

  50% {
    bottom: 180px;
  }

  60% {
    bottom: 180px;
  }

  100% {
    bottom: 0;
  }
}

@keyframes clouds-animation {
  from {
    right: -550px;
  }
  to {
    right: 100%;
  }
}
